:root{
    --bg-Color:#111;
    --text-Color:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-Color);
}
h1,h2,h3,h4,h5,h6,p,ul,li,span{
    padding: 0;
    margin: 0;
}

body{
    scroll-behavior: smooth;
    color: #fff;
}